body {
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

.admin-tasks-section {
    padding: 20px;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

.admin-pass button {
    background-color: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.admin-pass button:hover {
    background-color: var(--tg-theme-button-hover-color, #0077bb);
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task-card {
    background-color: var(--tg-theme-secondary-bg-color, #f1f1f1);
    color: var(--tg-theme-text-color, #000000);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
}

.task-card p {
    margin: 0 0 10px;
}

.task-card button {
    background-color: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.task-card button:hover {
    background-color: var(--tg-theme-button-hover-color, #0077bb);
}

.progress {
    margin-top: 20px;
}
