.App {
  text-align: center;
}

.admin-section {
  text-align: center;
  margin-top: 50px;
}

.admin-section h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.admin-section button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}
